@use '/src/app/styles/helpers' as *;

.NavigationButton {
	@include flex-center;

	column-gap: rem(6);

	background-color: var(--color-nav-button);
	border-radius: fluid(13, 9);
	backdrop-filter: blur(#{rem(35)});

	text-transform: uppercase;
	font-family: var(--font-family-primary);
	font-size: fluid(16, 14);
	font-weight: 600;
	white-space: nowrap;

	padding: rem(15);
	color: var(--color-light-link);

	&__image {
		min-width: rem(16);
	}

	@include hover {
		background-color: var(--color-main);
		color: var(--color-light);
	}

	@include tablet {
		min-width: rem(236);
		padding-block: rem(11);
	}
}