@use '/src/app/styles/helpers' as *;

.PersonSection {
	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: rem(27);

		@include tablet {
			row-gap: rem(18);
		}
	}

	&__header {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__title {
		display: flex;
		justify-content: center;
		color: var(--color-light);
		text-align: center;
		text-transform: uppercase;
		white-space: nowrap;
	}

	&__description {
		@include color-gradient;

		text-align: center;

		font-size: rem(14);

		@include tablet {
			@include visually-hidden;
		}
	}

	&__link {
		opacity: 1;
	}

	&__listCharacter {
		width: 100%;
		
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: rem(10);

		@include tablet {
			display: grid;
			grid-template: repeat(2, 1fr) / repeat(3, 1fr);
			gap: rem(10);
		}

		@include mobile {
			gap: rem(5);
			grid-template: repeat(2, 1fr) / repeat(2, 1fr);
		}
		
		@include mobile-s {
			display: flex;
			flex-direction: column;
			row-gap: rem(6);
		}
	}

	@include laptop-above {
		grid-area: person;
	}
}