@use 'styles/normalize';
@use 'styles/fonts';
@use 'styles/variables';
@use 'styles/utils';
@use 'styles/globals';

button {
	max-width: fit-content;
	height: fit-content;
}

body {
	display: flex;
	flex-direction: column;
}