@use '/src/app/styles/helpers' as *;

.AboutSection {
	display: flex;
	justify-content: center;

	position: relative;
	padding-block: rem(25);
	
	&::after {
		content: '';
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;

		opacity: 8%;

		filter: grayscale(1);
		background-image: 
			linear-gradient(180deg, var(--color-dark) 0%, rgba(9, 9, 9, 0) 59%, #090909 81.5%),
			url('/images/bg_role_person.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		z-index: -2;
	}

	&__inner {
		display: grid;
		grid-template-areas:
			'person person person'
			'screens info info';
		justify-items: center;
		gap: rem(150) rem(150);

		@include laptop {
			display: flex;
			flex-direction: column;
			row-gap: rem(70);
		}
	}
}