@use '/src/app/styles/helpers' as *;

.ArrowCircle {
	@include flex-center;
		
	background-color: #13131375;
	backdrop-filter: blur(#{rem(23)});
	box-shadow: 0 0 fluid(40, 20) 0 rgba(0, 0, 0, 0.35);

	outline: none;
	padding: fluid(17, 10);

	border-radius: rem(100);

	&[disabled] {
		opacity: 75%;
		cursor: default;
	}

	&:not(&[disabled]) {
		@include hover {
			background: var(--color-light);
			
			.ArrowCircle__path {
				color: var(--color-dark);
				fill: var(--color-dark);
			} 
		}
	}

	&__path {
		color: var(--color-light);
	}
	&__svg {
		width: fluid(23, 16);
		height: fluid(22, 15);
	}

	@include laptop {
		background-color: #131313;
	}
}